.navContainer {
    margin: auto;
    max-width: 8in;
}
.navButton {
    width: calc(50vw - 18px); height: calc(50vw - 18px);
    margin: 5px;

    background-image: url('/Images/icons/nav.png');
    background-size: cover;
    background-color: cornflowerblue;
    border-radius: 10%;

    cursor: pointer;
} .navButton:hover {
      background-color: yellow;
      box-shadow: 0 0 10px 0 black;
}
.navButton.search {background-position: -100% 0;}
.navButton.return {background-position: -200% 0;}
@media screen and (min-width: 11cm){  .navButton {  width: 5cm; height: 5cm;  }  }