.row {
    /*overflow: visible;*/
    position: static;
    margin-bottom: 0.05in;
    background-color: white;
}

.title {
    position: relative;

    padding: 0.1in;

    z-index: 1;

    font-size: 16pt;
    text-align: center;
    background-color: #e2e2e9;
}
.row:not(.author) .title {cursor: context-menu;}
.title .titleContainer {
    box-sizing: content-box;
    height: 1.2em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.title .checkContainer {
    position: absolute;
    left: 4pt;
    height: calc(100% - 0.2in);
}

.additional {  height: 0; overflow: hidden;  }
.additional .info {
    padding: 0.1in;
    overflow: auto;
    border-top: 1px solid black;
}
.addrow, .infoLabel, .data {  float: left;  }
.addrow {
    margin-right: 1.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addrow:last-child {margin-right: 0;}
.addrow a {color: black;}
.addrow a:hover + .thumb {display: block;}
.labelIcon {
    height: 21pt;
    width: 21pt;
    background-image: url("/Images/icons/labels.png");
    background-size: cover;
}
.labelyear {background-position: -100% 0;}
.labellang {background-position: -200% 0;}
.labelarrow {background-position: -300% 0;}
.labelloc {background-position: -400% 0;}
.labelisbn {background-position: -500% 0;}
.labelcopies {background-position: -600% 0;}
.labelcomment {background-position: -700% 0;}
.labeltitle {background-position: -900% 0;}
.labeldyn {background-position: -1000% 0; background-color: black;}
.additional  .data {
    font-size: 16pt;
    padding: 0.3em;
    max-width: calc(100vw - 1.9em - 21pt - 16px - 0.2in);
}

.additional .actions {  border: none;  box-shadow: none;  }

.additional .data .thumb {
    display: none;
    position: absolute;
    z-index: 2;
}
.thumbCont {
    position: relative; top: 8px;
    padding: 8px;
    background-color: #e2e2e9;
    border-radius: 8px;
    box-shadow: 0 1px 5px 0.5px black;
}


.author a {text-decoration: none; color: black;}

@media screen and (min-width: 13cm) {
    .floating .row {margin: 0 0 1em 1.6em;}
    .floating .row:last-child {margin-right: 0;}
    .floating {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}